@font-face {
    font-family: hinglish;
    src: url(font.TTF);
}

#button-cont{
    position: absolute;
    left: 40%;
    top: 50%;
}

.buttn{
    padding: 1em;
    width: 10em;
    font-family: sans-serif;
}


#head{
    position: absolute;
    left: 42%;
    top: 10%;
    font-size: 6em;
    
}

body {
    background-color: #706fd3;
    font-family: hinglish, sans-serif;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  
  